<template name="inheritanceFunaralMenu">
  <div class="funaral-menu max768 display-none">
    <div>
      <div class="prevent">
        <div class="max768">
          <a href="#">
            <div class="btn-close">
              <i class="imsm-icon icon-close-thin"></i>
            </div>
          </a>
          <div class="item-area">
            <div class="single-item">
              <a href="#" class="">
                <div class="icon" id="icon-my">
                  <i class="imsm-icon icon-my color-red"></i>
                </div>
                <div>
                  장례식 초대
                </div>
              </a>
            </div>
            <div class="multi-item">
              <a href="#" class="">
                <div class="icon" id="injector">
                  <i class="imsm-icon icon-injector color-blue"></i>
                </div>
                <div>
                  사전의료 의향서
                </div>
              </a>
              <a href="#" class="">
                <div class="icon" id="graveston">
                  <i class="imsm-icon icon-graveston color-green"></i>
                </div>
                <div>
                  사전장례 의향서
                </div>
              </a>
            </div>
            <div class="single-item">
              <a href="#" class="">
                <div class="icon" id="writeDocument">
                  <i class="imsm-icon icon-document color-yellow" ></i>
                </div>
                <div>
                  유언장 양식
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="black-over display-none" id="modal" data-backdrop="static" aria-hidden="false" style=""></div> -->
</template>
