<template name="inheritancePrevent">
  <div class="max768 display-none" id="pointPrevent">
    <div>
      <div class="prevent">
        <div class="max768">
          <a href="#">
            <div class="btn-close">
              <i class="imsm-icon icon-close-thin"></i>
            </div>
          </a>
          <div class="title txt-sub-title" id="myPointInfo">
          </div>
          <div class="context">
            1천 포인트 획득 후<br/>
            상속이 가능합니다.<br/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="black-over display-none" id="modal" data-backdrop="static" aria-hidden="false" style=""></div> -->
</template>
