<template name="inheritanceInfoPopup">
  {{#with hpConfirmData}}
  <div class="max300">
    <div class="inh-info-pop">
      <div class="prevent over-pop">
        <div class="max300">
          <div class="popContent">
            <div class="pop-top">
              <div class="main-button">
                <div class="info">
                  {{#if title}}
                    <div class="title">
                      {{{title}}}
                    </div>
                  {{/if}}

                  <div class="profile">
                    <img src="{{g_makeImageSrc profileImg ''}}" alt="">
                  </div>
                  <div class="nick-name color-black">
                    {{name}}님의 메시지 입니다.
                  </div>

                  {{#if context}}
                    <div class="context">
                      {{{context}}}
                    </div>
                  {{/if}}
                </div>
              </div>
            </div>
            <div class="pop-bottom">
              <div class="main-button cursor-pointer">
                {{#if singleBtn}}
                  <div class="btn-title btn-cancel">{{btnName}}</div>
                {{else}}
                  <div class="btn-title btn-cancel">아니오</div>
                  <div class="btn-title btn-confirm">예</div>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/with}}
  <div class="black-over" id="modal" data-backdrop="static" aria-hidden="false" style=""></div>
</template>
