<template name="inheritanceAddRecieveinh">
  <!-- {{#with hpDeleteUserInfo}} -->
  <div class="ih-code max768">
    <div>
      <div class="prevent over-pop ">
        <div class="max768">
          <div class=slide-anime>
            <div class="pop-top">
              <div class="main-button cursor-pointer">
                <div class="context">
                  전달받은 상속코드를 입력하시면 <br/>
                  상속인으로 등록됩니다.
                </div>
                <input type="text" id="inhCodeInput1" maxlength="4"> -
                <input type="text" id="inhCodeInput2" maxlength="4"> -
                <input type="text" id="inhCodeInput3" maxlength="4"> -
                <input type="text" id="inhCodeInput4" maxlength="4">
                <div class="btn-title btn-confirm" id="codeComfirm">확인</div>
              </div>
            </div>
            <div class="pop-bottom">
              <div class="main-button cursor-pointer">
                <div class="btn-title btn-cancel" id="closePupup">
                  취소
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
  <!-- {{/with}} -->
  <div class="black-over" id="modal" data-backdrop="static" aria-hidden="false" style=""></div>
</template>
