<template name="loading">
  <div class="loading display-none">
    <div class="max286">
      <div class="loading-body">
        <div class="prevent over-pop">
          <div class="max286">
            <div class="popContent">
              <div class="pop-top">
                <!-- <img src="/images/bg/gunslinger-walkcycle2.gif" itemprop="thumbnail" alt=""> -->
                <img src="/images/bg/loading.gif" itemprop="thumbnail" alt="">
              </div>
              <div class="pop-bottom">
                <!-- loading.. -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="black-over" id="modal" data-backdrop="static" aria-hidden="false" style=""></div>
  </div>
</template>
