<template name="timelineTplMy">
  <div class="ending-note" >
    <div class="">
      <div style="">
        <img class="icon" src="/images/icon/icon_title_bullet.jpg" alt="image-place" style="float:left; margin-left: -23px;">
        <!-- <img src="images/btn/btn_bk_st_1.jpg" alt="" style="float:left;margin:10px"> -->
      </div>

      <div style="">
        <div id="titleTag" style="font-weight: 800; color: #000000;size: auto; font-size: large;">

        </div>
        <img id="imageTag" src="" alt="" style="width:30%; float:left;">

        <div id="contentTag" style="margin:10px; width:90%;">

        </div>
      </div>

    </div>



    <!-- 프로필 -->
    <!-- {{> endingNoteProfile data=hpProfile}} -->
    <!-- 타임라인 -->
    <!-- {{> timeline data=hpTimeline}} -->
  </div>
</template>
