<template name="tutorial">
  <!-- page1 시작 -->
  <div class="tutorial-input-page" style="background: url(images/bg/tutoback_buld.png) no-repeat fixed;" id="tutoPage1">
    <div class="text-box">당신의 <span style="color:#edc9c7">소중한 추억과</span><br> <span style="font-weight:600">꿈구는 <span style="color:#c4dfde">내일의 이야기</span></span></div>
    <div style="margin:auto; width: 80%;">
      <img src="/images/bg/tutopage1_phoneimg.png" class="" itemprop="thumbnail" alt="" style="width:100%; max-width: 300px;  display:block; margin-left:auto; margin-right:auto;">
    </div>
    <div class="next-wrap-div" style="bottom:100px;">
      <div class="content-next next-click"  id="01tutoNext" name="firstStep">
        시작
      </div>
    </div>

  </div>
  <!-- page2 -->
  <div class="tutorial-input-page display-none" id="tutoPage2">
    <div class="text-box">
      <div style="margin:auto; width: 80%; margin-bottom: 15px;">
        <img src="/images/bg/tuto_endingnote.png" class="" itemprop="thumbnail" alt="" style="width:70%">
      </div>
      <span style="font-size: 18px;">
        <span id="nameplace" class="nameplace"></span>님과의 첫만남을 기억하는<br>
        이야기를 엔딩노트에 기록하였습니다.<br>
      </span>
    </div>
    <div class="next-wrap-div">
      <div class="content-next next-click" id="02tutoNext">
        다음
      </div>
    </div>
  </div>

  <!-- page3 birth input-->
  <div class="tutorial-input-page display-none" id="tutoPage3">
    <div class="text-box">당신은 언제 태어났나요?</div>
    <div class="input-box">
      <input class="" type="text" name="text" placeholder="예) 20160312" style="" id="tutoMyBirth">
      <!-- <input style="margin:0px auto;" type="date" data-date="" data-date-format="DD MMMM YYYY" value="1990-01-01" id="birthDay"> -->
    </div>
    <div class="next-wrap-div">
      <div class="content-next" id="03tutoNext" name="inputBirth">
        다음
      </div>
    </div>
  </div>

  <!-- page4 -->
  <div class="tutorial-input-page display-none" id="tutoPage4">
    <div class="text-box">
      <span id="nameplace" class="nameplace"></span>님의 생일을 축하하는<br>
      타임캡슐이 발송됐습니다.<br>
      <div style="margin:auto; width: 80%;">
        <img src="/images/bg/tuto_timecapsule.png" class="" itemprop="thumbnail" alt="" style="width:100%">
      </div>
      <span style="font-size: 18px;">
      타임캡슐을 이용하면 <span style="background: #c7524c; padding: 3px;"> 과거,현재,미래로 </span><br>
      이야기를 전할수 있습니다.
      </span>
    </div>
    <div class="next-wrap-div">
      <div class="content-next next-click" id="04tutoNext" >
        다음
      </div>
    </div>
  </div>

  <!-- page5 input profile -->
  <div class="tutorial-input-page display-none" id="tutoPage5">
    <div class="text-box"><span id="nameplace" class="nameplace"></span>님의 프로필을 <br>채워주세요!</div>
    <!-- <div class="radio-select-box"> <p class="select-item" style="float:left;">여자</p> <p class="select-item" style="float:right;">남자</p> </div> -->
    <div class="radio-select-box"> <div class="select-item check-item" style="float:left;" id="selectM"><i class="imsm-icon icon-man-face"></i> 남성</div>
    <div class="select-item" style="float:right;" id="selectW"><i class="imsm-icon icon-woman-face"></i> 여성</div> </div>
    <div class="input-box">
      <!-- <input class="" type="text" name="text" placeholder="2016년 5월 14일" style=""> -->
      <input class="" type="text" name="text" placeholder="닉네임 입력" style="" id="tutoNickName">
    </div>
    <div class="input-box" style="margin-top:10px">
      <input class="" type="text" name="text" placeholder="좌우명명 입력" id="tutoIntroduct" >
    </div>
    <div class="next-wrap-div">
      <div class="content-next" id="05tutoNext" name="inputProfile">
        다음
      </div>
    </div>
  </div>

  <!-- page6 -->
  <div class="tutorial-input-page display-none" id="tutoPage6">
    <div class="text-box">
      프로필이 완성 됐습니다!<br>
      <div style="margin:23px auto; margin-right: 3%; width: 80%;">
        <img src="/images/bg/tuto_profile.png" class="" itemprop="thumbnail" alt="" style="width:100%">
      </div>
      <span style="font-size: 18px;">
      프로필 정보는 마이페이지에서<br>
      변경 가능합니다.
      </span>
    </div>
    <div class="next-wrap-div">
      <div class="content-next next-click" id="06tutoNext">
        다음
      </div>
    </div>
  </div>

  <!-- page7 input hopeDay-->
  <div class="tutorial-input-page display-none" id="tutoPage7">
    <div class="text-box"><span id="nameplace" class="nameplace"></span>님은 몇살까지 살고 싶은가요?</div>
    <div class="input-box">
      <input class="" type="text" name="text" placeholder="예) 90" id="expLife" >
    </div>
    <div class="next-wrap-div">
      <div class="content-next" id="07tutoNext" name="hopeDay">
        다음
      </div>
    </div>
  </div>


  <!-- page8 -->
  <div class="tutorial-input-page display-none" id="tutoPage8">
    <div class="text-box">
      <span id="nameplace" class="nameplace"></span>님의 엔딩노트에<br> 기대수명이 기록되었습니다.<br>
      <div style="margin:23px auto; margin-right: 10%; width: 80%;">
        <img src="/images/bg/tuto_hopeday.png" class="" itemprop="thumbnail" alt="" style="width:100%">
      </div>
      <span style="font-size: 18px;">
      삶은 유한하기 때문에 더욱 소중하고<br>
      빚나야 합니다.<br>
      잇츠마이스토리와 함께하세요.<br>
      </span>
    </div>
    <div class="next-wrap-div">
      <div class="content-next next-click" id="08tutoNext">
        다음
      </div>
    </div>
  </div>

  <!-- page9 my son -->
  <div class="tutorial-input-page display-none" id="tutoPage9">
    <div class="text-box"><span id="nameplace" class="nameplace"></span>님이 돌보고 있는 누구<br>또는 무엇이 있나요?</div>
    <!-- <div class="radio-select-box"> <p class="select-item" style="float:left;">여자</p> <p class="select-item" style="float:right;">남자</p> </div> -->
    <div class="radio-select-box"> <div class="select-item check-item" style="float:left;" id="selectSonM"><i class="imsm-icon icon-baby"></i> 자녀</div>
    <div class="select-item" style="float:right;" id="selectSonW"><i class="imsm-icon icon-animal-foot"></i> 동물 </div> </div>
    <div class="input-box" style="height: 40px;">
      <!-- <input class="" type="text" name="text" placeholder="2016년 5월 14일" style=""> -->
      <div style="width: 100%; margin-left: 26%; line-height: normal; margin-top: 4px;">
        <label class="container" style="float:left">남
          <input type="radio" checked="checked" name="radio" id="checkOne">
          <span class="checkmark"></span>
        </label>
        <label class="container">여
          <input type="radio" name="radio" id="checkTwo">
          <span class="checkmark"></span>
        </label>
      </div>
    </div>
    <div class="input-box" style="margin-top:10px">
      <input class="" type="text" name="text" placeholder="이름 입력" id="sonName">
    </div>
    <div class="input-box" style="margin-top:10px">
      <input style="" type="text" placeholder="생년월일 8자리를 입력해주세요" id="sonBirth">
    </div>
    <div class="next-wrap-div">
      <div style="width:180px; margin:auto;">
        <div class="content-next" style="float:left;" id="09tutoNext" name="inputMySonOrPet">
          다음
        </div>
        <div class="content-next next-click" style="float:right" id="10passNext">
          없어요
        </div>
      </div>

    </div>
  </div>

  <!-- page10 -->
  <div class="tutorial-input-page display-none" id="tutoPage10">
    <div class="text-box">
      소중한 <span id="nameplace" class="nameplace"></span>의 프로필이<br>저장되었습니다!<br>
      <div style="margin:10px auto; width: 70%;">
        <img src="/images/bg/tuto_profile2.png" class="" itemprop="thumbnail" alt="" style="width:100%; margin-top:20px;">
      </div>
      <span style="font-size: 18px;">
      <span id="nameplace" class="nameplace"></span>와의 소중한 추억을<br>
      육아일기로 기록해보세요.<br>
      </span>
    </div>
    <div class="next-wrap-div">
      <div class="content-next next-click" id="11tutoNext">
        다음
      </div>
    </div>
  </div>

  <!-- page11 -->
  <div class="tutorial-input-page display-none" id="tutoPage11">
    <div class="text-box">
      육아일기는<br>잇츠마이스토리와 함께!<br>
      <div style="margin:10px auto; width: 60%;">
        <img src="/images/bg/tuto_profile2.png" class="" itemprop="thumbnail" alt="" style="width:100% ; margin-top:20px;">
      </div>
      <span style="font-size: 15px;">
      <span id="nameplace" class="nameplace"></span>님이 언젠가 육아를 하거나<br>
      반려동물들을 키우게 된다면<br>
      우리아이,우리 반려동물과의 소중한 추억을<br>
      잇츠마이스토리에 남겨보세요.<br>
      </span>
    </div>
    <div class="next-wrap-div">
      <div class="content-next next-click" id="11tutoNext">
        다음
      </div>
    </div>
  </div>

  <!-- page12 -->
  <div class="tutorial-input-page display-none" id="tutoPage12">
    <div class="text-box">
      당신의 인생지도 라이프맵
      <div style="margin:11px auto; width: 60%;">
        <img src="/images/bg/tuto_timeline.png" class="" itemprop="thumbnail" alt="" style="width:100% ; margin-top:20px">
      </div>
      <span style="font-size: 15px;">
      라이프맵이란 엔딩노트 속 타임라인의 여정을<br>
      요약하여 보여주는 이미지입니다.<br>
      당신의 인생지도,라이프맵을 공유해보세요.<br>
      </span>
    </div>
    <div class="next-wrap-div">
      <div class="content-next next-click" id="12tutoNext">
        다음
      </div>
    </div>
  </div>

  <!-- page13 -->
  <div class="tutorial-input-page display-none" style="background: url(images/bg/pinktutoback.png) no-repeat fixed;" id="tutoPage13">
    <div style="margin:auto; width: 80%; position:relative;">
      <img src="/images/icon/tuto_sendmsg_title.png" class="" itemprop="thumbnail" alt="" style="width:100%; max-width: 300px;  display:block; margin-left:auto; margin-right:auto;">
      <img src="/images/bg/BI.svg" style="position: absolute; top: 0; left: 0; right: 0; padding-top: 33%; margin: auto; width: 34%;" alt="">
      <div style="position: absolute; left: 0; right: 0; top: 0; text-align: center; margin-top: 42%; font-size: 16px;">
      잇츠마이스토리는<br><span style="font-size: 23px; color: #FF4E4C;">당신의 인생을<br>응원합니다.</span>
      </div>
    </div>
    <div style="margin:auto; width: 80%;">
      <img src="/images/icon/coffee_img.png" class="" itemprop="thumbnail" alt="" style="width:100%; max-width: 300px;  display:block; margin-left:auto; margin-right:auto;">
    </div>
    <div class="next-wrap-div" style="bottom: 95px;">
      <div class="content-next" style="height: 59px; width: 170px; line-height: 50px; background: white; opacity: 1; color: #ff6060;" >
        쿠폰 받기
      </div>
    </div>
  </div>












  <!-- page3 -->
  <div class="tutorial-input-page display-none" id="tutoPage3">
    <div class="text-box">나이를 입렵합니까?<br> 감사합니다.</div>
    <!-- <div class="radio-select-box"> <p class="select-item" style="float:left;">여자</p> <p class="select-item" style="float:right;">남자</p> </div> -->
    <div class="radio-select-box"> <div class="select-item check-item" style="float:left;" id="selectM">자녀</div> <div class="select-item" style="float:right;" id="selectW">동물</div> </div>
    <div class="input-box">
      <!-- <input class="" type="text" name="text" placeholder="2016년 5월 14일" style=""> -->
      <input class="" type="text" name="text" placeholder="2016년 5월 14일" style="">
    </div>
    <div class="next-wrap-div">
      <div class="content-next" id="3tutoNext">
        다음
      </div>
    </div>
  </div>


  <!-- <div class="input-box">
    <input class="" type="text" name="text" placeholder="2016년 5월 14일" style="">
  </div> -->

  <!-- page4 -->
  <div class="tutorial-input-page display-none" id="tutoPage4">
    <div class="text-box">나이를 입렵합니까?<br> 감사합니다.</div>
    <!-- <div class="radio-select-box"> <p class="select-item" style="float:left;">여자</p> <p class="select-item" style="float:right;">남자</p> </div> -->
    <div class="input-box">
      <div class="tuto-radio-box">
        <label class="container" style="width:40%">남
          <input type="radio" checked="checked" name="radio">
          <span class="checkmark"></span>
        </label>
        <label class="container" style="width:40%">여
          <input type="radio" name="radio">
          <span class="checkmark"></span>
        </label>
      </div>
    </div>

    <div class="input-box">
      <!-- <input class="" type="text" name="text" placeholder="2016년 5월 14일" style=""> -->
      <input class="" type="text" name="text" placeholder="2016년 5월 14일" style="">
    </div>
    <div class="next-wrap-div">
      <div class="content-next">
        다음
      </div>
    </div>
  </div>






  <!-- input date sample -->
  <!-- <div class="tutorial-input-page display-none" id="tutoPage2">
    <div class="text-box">당신은 언제 태어났나요?</div>
    <div class="input-box"> -->
      <!-- <input class="" type="text" name="text" placeholder="2016년 5월 14일" style=""> -->
      <!-- <input style="margin:0px auto;" type="date" data-date="" data-date-format="DD MMMM YYYY" value="1990-01-01" id="birthDay">
    </div>
    <div class="next-wrap-div">
      <div class="content-next" id="2tutoNext">
        다음
      </div>
    </div>
  </div> -->


</template>
