<template name="guide02">

  <div class="max768">
    <div class="guide-pop">
      <div class="prevent over-pop">
        <div class="max768">
          <div class="guide-02">
            <div class="sticky txt-title color-white cursor-pointer" id="btn-cancel">
              <div class="max768">
                <div class="close-btn">
                  <i class="imsm-icon icon-close-thin"></i>
                </div>
              </div>
            </div>
            <img src="{{hpGuideData}}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
