<template name="guide01">
  <div class="guide-01 max768">
    <div class="">
      <div class="">
        <div class="max768">
          <div class="guide-slider">
            {{> carousel}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 서비스 가이드 로그인 -->
  <!-- 슬라이드를 이용해 첫 로그인 또는 가이드 생성 후 첫 사용자에게 표시한다. -->

</template>

<template name="carousel">
  <div id="carousel" class="slide ">

    <div class="item max768">
      <div class="data-area">
        <div class="title">
          기록하세요
        </div>
        <div class="context">
          타임라인에 당신의 일상을<br/>기록하세요.
        </div>
        <div class="image">
          <img src="/images/bg/guide/guide01_01.png" alt="">
        </div>
      </div>
      <img src="/images/bg/guide/guide01_back.png">
    </div>


    <div class="item max768">
      <div class="data-area">
        <div class="title">
          그려집니다
        </div>
        <div class="context">
          기록된 일상이 예쁜 라이프맵으로<br/>그려집니다.
        </div>
        <div class="image">
          <img src="/images/bg/guide/guide01_02.png" alt="">
        </div>
      </div>
      <img src="/images/bg/guide/guide01_back.png">
    </div>

    <div class="item max768">
      <div class="data-area">
        <div class="title">
          도전하세요
        </div>
        <div class="context">
          다양한 버킷리스트를 확인하고<br/>나만의 버킷리스트를 만들어보세요.
        </div>
        <div class="image">
          <img src="/images/bg/guide/guide01_04.png" alt="">
        </div>
      </div>
      <img src="/images/bg/guide/guide01_back.png">
    </div>

    <div class="item max768">
      <div class="data-area">
        <div class="title">
          상속하세요
        </div>
        <div class="context">
          당신의 기록을<br/>소중한 이에게 남겨주세요.
        </div>
        <div class="image">
          <img src="/images/bg/guide/guide01_03.png" alt="">
        </div>
      </div>
      <img src="/images/bg/guide/guide01_back.png">
    </div>

    <div class="item start max768">
      <div class="data-area">
        <div class="bi">
          <img src="/images/bg/guide/BI-white-horizontal.svg" alt="">
        </div>
        <div class="title">
          당신의 <span>소중한 추억</span>과
        </div>
        <div class="context">
          꿈꾸는 <span>내일의 이야기</span>
        </div>
        <div class="image">
          <img src="/images/bg/guide/guide01_05.png" alt="">
        </div>
        <div class="start-btn cursor-point" id="start">
          시작
        </div>
      </div>
      <img src="/images/bg/guide/guide01_back2.png">
    </div>




  </div>
</template>
