<template name="findPassword02">
  <div class="registration max768 find-info">
    <div class="detail-header txt-menu">
      <!-- <div class=""> -->
        <div class="max768">
          <div class="wrap">
            <div class="item-list">

              <div class="item cursor-pointer back">
                <a href="#" class="defaultmouse back">
                  <div class="icon">
                    <i class="imsm-icon icon-back"></i>
                  </div>
                </a>
              </div>

              <div class="item">
                <div class="title">
                  비밀번호 찾기
                </div>
              </div>
            </div>
          </div>
        </div>
      <!-- </div> -->
    </div>

    <div class="detail-body">
      <div class="item-row txt-center title">
        가입시 등록하신 <span class="color-red">휴대전화번호</span>로<br/>
        고객님의 <span class="color-red">정보</span>를 확인합니다 .
      </div>
      <div class="item-row">
        <div class="main-input name" id="nameInput">
          <span>이름</span>
          <input type="text" id="userName" placeholder="이름입력" />
        </div>
      </div>
      <div class="item-row">
        <div class="main-input phone">
          <span>휴대폰 번호</span>
          <input type="text" placeholder='"-" 없이 입력' id="userPhone"/>
          <span id="checkPhoneAuth" class="cursor-pointer">본인인증</span>
        </div>
      </div>
      <div class="item-row">
        <div class="main-input confirm">
          <span>인증번호</span>
          <input type="text" placeholder="인증번호" id="phoneAuthInput"/>
          <span id="phoneAuthBt">번호확인</span>
        </div>
      </div>

      <div class="main-button cursor-pointer confirm" id="findPasswdNextPage">확인</div>
    </div>
  </div>
</template>
