<template name="findPassword">
  <div class="registration max768 find-info">
    <div class="detail-header txt-menu">
      <!-- <div class=""> -->
        <div class="max768">
          <div class="wrap">
            <div class="item-list">

              <div class="item cursor-pointer back">
                <a href="#" class="defaultmouse back">
                  <div class="icon">
                    <i class="imsm-icon icon-close"></i>
                  </div>
                </a>
              </div>

              <div class="item">
                <div class="title">
                  비밀번호 찾기
                </div>
              </div>
            </div>
          </div>
        </div>
      <!-- </div> -->
    </div>

    <div class="detail-body">
      <div class="item-row txt-center title" style="margin-top:50%">
        회원님의 <span class="color-red">아이디</span>를 입력해주세요
      </div>
      <div class="item-row">
        <div class="main-input name" >
          <!-- <span>아이디</span> -->
          <input type="text" id="userIdInput" placeholder="아이디 입력" />
        </div>
      </div>
      <div class="main-button cursor-pointer confirm" id="findIdNextPage">확인</div>
    </div>
  </div>
</template>
