<template name="searchUser">
    <div class="searchUser addUser max768" style="z-index: 11;">
      <div class="detail-header txt-menu">
        <div class="sticky">
          <div class="max768">
            <div class="wrap">
              <div class="item-list">
                <div class="item cursor-pointer" id="backSearchUser">
                  <a href="#" class="defaultmouse">
                    <div class="icon">
                      <!-- <i class="imsm-icon icon-search"></i> -->
                      <i class="imsm-icon icon-back"></i> 검색하기
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="detail-body">
      <div class="user-list">
        <div class="selected-users">
          {{#each hpSelectedUserInfo}}
          <div class="user-info">
            <div class="profile-img">
              <div class="remove-user cursor-pointer">
                <i class="imsm-icon icon-close-thin"></i>
              </div>
              <img src="{{g_makeImageSrc this.profileImg ''}}" alt="image-place" data-modal-template="editProfileImage">
            </div>
            <div class="ellipsis-singleline-nick">
              {{this.nickName}}
            </div>
          </div>
          {{/each}}
        </div>
        <div class="search-user">
          <div class="roundtype-input">
            <div class="round-radius">
              <div class="type-input">
                <input type="text" placeholder="이름/ID/별명 검색" id="searchWord"/>
              </div>
              <div class="btn-save">
                <a href="#" class="" id="searchFrdList">
                  <i class="imsm-icon icon-search"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="search-list">
          {{#each hpSearchResult}}
          {{#unless type}}
            <div class="user-profile-list">
              <!-- 이미지 파일 -->
              <div class="profile-img">
                <img src="{{g_makeImageSrc profile.profileImg ''}}" alt="image-place" data-modal-template="editProfileImage">
              </div>
              <div class="profile-text">
                <!-- 이름 -->
                <div class="profile-name">
                  {{profile.nickName}}({{profile.name}})
                </div>
                <!-- 아이디 -->
                <div class="profile-sub">
                  {{username}}
                </div>
              </div>
              <div class="btn-select  round-radius {{#if hpSelect _id}} selected {{/if}}">
                <div class="right">
                  선택
                </div>
              </div>
            </div>
          {{/unless}}
          {{/each}}
        </div>
        <div>
          <div class="btn-bottom">
            <div class="sticky-bottom">
              <div class="max768">
                <div class="txt-sub-title">
                  확인
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- <div class="black-over" id="modal" data-backdrop="static" aria-hidden="false" style=""></div> -->
</template>
