<template name="myFriendsDelete">
  {{#with hpDeleteUserInfo}}
  <div class="max768">
    <div>
      <div class="prevent over-pop display-none">
        <div class="max768">
          <div class=slide-anime>
            <div class="pop-top">
              <div class="main-button cursor-pointer">
                <div class="info">
                  <div class="profile-img">
                      <img src="{{g_makeImageSrc this.profile.profileImg ''}}" alt="image-place" data-modal-template="editProfileImage">
                  </div>
                  <div class="title">
                    친구를 삭제하시겠어요?
                  </div>
                  <div class="context">
                    {{this.profile.nickName}}님과의 친구가 취소되어 회원님의<br/>
                    친구목록에서 삭제된 사실을 알수 없습니다.
                  </div>
                </div>
                <div class="btn-title btn-confirm">삭제</div>
              </div>
            </div>
            <div class="pop-bottom">
              <div class="main-button cursor-pointer">
                <div class="btn-title btn-cancel">
                  취소
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
  {{/with}}
  <div class="black-over" id="modal" data-backdrop="static" aria-hidden="false" style=""></div>
</template>
