<template name="myPoint">
  <div class="user-list">
    <div class="point-list ">
      <div class="point">
        <img src="/images/icon/point2.png" alt="image-place" data-modal-template="editProfileImage">
        <span class="color-yellow">{{hpPointData.pointSum}}</span>
      </div>
      {{#each hpPointData.pointInfo}}
      <div class="user-profile-list">
        <!-- 이미지 파일 -->
        <div class="icon {{hpcategoryColor type}}">
          <i class="imsm-icon {{hpCategoryIcon type}} "></i>
          <!-- <img src="{{image}}" alt="image-place" data-modal-template="editProfileImage"> -->
        </div>

        <div class="profile-text" style="float:left">
          <!-- 이름 -->
          <div class="profile-name ellipsis-singleline">
            <span class="{{hpcategoryColor type}}">
              {{g_getCodeName 'main' type}}{{#if subType}} > {{g_getCodeName 'subject' subType}}{{/if}}
            </span> {{name}}
          </div>
          <!-- 아이디 -->
          <div class="profile-sub">
            <span class="color-yellow" style="font-size:18px;">{{point}}P</span>
            <span  style="font-size:11px; padding-left: 5px;">{{regDate}}</span>
          </div>
        </div>
        <!-- <div style="position:absolute; right:0px; padding:19px;">{{regDate}}</div> -->
      </div>
      {{/each}}
    </div>
  </div>
</template>
