
.icon-down-open-big:before { content: '\e800'; } /* '' */
.icon-inheritance02:before { content: '\e801'; } /* '' */
.icon-inheritance03:before { content: '\e802'; } /* '' */
.icon-inheritance04:before { content: '\e803'; } /* '' */
.icon-injector:before { content: '\e804'; } /* '' */
.icon-lifemap:before { content: '\e805'; } /* '' */
.icon-lock:before { content: '\e806'; } /* '' */
.icon-lock-non-key:before { content: '\e807'; } /* '' */
.icon-lock-open:before { content: '\e808'; } /* '' */
.icon-login:before { content: '\e809'; } /* '' */
.icon-man-face:before { content: '\e80a'; } /* '' */
.icon-me0034:before { content: '\e80b'; } /* '' */
.icon-message:before { content: '\e80c'; } /* '' */
.icon-my:before { content: '\e80d'; } /* '' */
.icon-my-bucket:before { content: '\e80e'; } /* '' */
.icon-my-heart:before { content: '\e80f'; } /* '' */
.icon-notice:before { content: '\e810'; } /* '' */
.icon-pen:before { content: '\e811'; } /* '' */
.icon-plus:before { content: '\e812'; } /* '' */
.icon-present:before { content: '\e813'; } /* '' */
.icon-question:before { content: '\e814'; } /* '' */
.icon-save-map:before { content: '\e815'; } /* '' */
.icon-search:before { content: '\e816'; } /* '' */
.icon-shared:before { content: '\e817'; } /* '' */
.icon-star:before { content: '\e818'; } /* '' */
.icon-star-pointer:before { content: '\e819'; } /* '' */
.icon-title-bullet:before { content: '\e81a'; } /* '' */
.icon-trash-can:before { content: '\e81b'; } /* '' */
.icon-woman-face:before { content: '\e81c'; } /* '' */
.icon-airplane:before { content: '\e81d'; } /* '' */
.icon-all:before { content: '\e81e'; } /* '' */
.icon-all-bucket:before { content: '\e81f'; } /* '' */
.icon-animal-foot:before { content: '\e820'; } /* '' */
.icon-baby:before { content: '\e821'; } /* '' */
.icon-back:before { content: '\e822'; } /* '' */
.icon-book:before { content: '\e823'; } /* '' */
.icon-bucky-story:before { content: '\e824'; } /* '' */
.icon-camera:before { content: '\e825'; } /* '' */
.icon-camera-select:before { content: '\e826'; } /* '' */
.icon-close:before { content: '\e827'; } /* '' */
.icon-close-thin:before { content: '\e828'; } /* '' */
.icon-comment:before { content: '\e829'; } /* '' */
.icon-crown:before { content: '\e82a'; } /* '' */
.icon-document:before { content: '\e82b'; } /* '' */
.icon-dot:before { content: '\e82c'; } /* '' */
.icon-double-quotes-end:before { content: '\e82d'; } /* '' */
.icon-double-quotes-start:before { content: '\e82e'; } /* '' */
.icon-dot-3:before { content: '\e82f'; } /* '' */
.icon-flight:before { content: '\e830'; } /* '' */
.icon-fork-spoon:before { content: '\e831'; } /* '' */
.icon-graveston:before { content: '\e832'; } /* '' */
.icon-heart-fill:before { content: '\e833'; } /* '' */
.icon-heart-line:before { content: '\e834'; } /* '' */
.icon-home:before { content: '\e835'; } /* '' */
.icon-inheritance:before { content: '\e836'; } /* '' */
.icon-inheritance01:before { content: '\e837'; } /* '' */
.icon-bucket-add-cancel:before { content: '\e838'; } /* '' */
.icon-bucket-add:before { content: '\e839'; } /* '' */
.icon-guide:before { content: '\e83a'; } /* '' */
.icon-menu-bucket:before { content: '\e83c'; } /* '' */